@model IEnumerable<Usuario>

<h1>
    Usuarios
</h1>


<div class="container">
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Nombre)</th>
                <th>@Html.DisplayNameFor(m => m.Email)</th>
                <th>Acciones</th>
            </tr>
        </thead>

        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        @if(item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                        {
                            <button onclick=Block("@item.Id")>Block</button>
                        }else{
                            <a asp-action="Desbloquear" asp-route-id="@item.Id">Desbloquear</a>
 
                        }
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        
                    </td>
                </tr>
            }

        }
        else
        {
            <tr>
                No Hay Usuarios
            </tr>
        }
    </table>

</div>

@section Scripts{
    <script>
        function Block(id) {
            Swal.fire({
                title: '¿Estas Seguro?',
                text: "Vas a bloquear un usuario!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '!Si, bloquear!'
            }).then(async (result) => {

                if (result.isConfirmed) {
                    fetch(`/Admin/Usuarios/Bloquear/${id}`, {
                        method: "POST",
                    }).then(response => response.json()).then(response => {
                        // Comprueba la respuesta del servidor.
                        console.log(response)
                        if (response.succes) {
                            Swal.fire({
                                icon: 'success',
                                title: '!Usuario Bloqueado!',
                                text: response.message,
                                confirmButtonText:
                                    `<a href="/Admin/Usuarios"><i class="fa fa-thumbs-up"></i> Great!</a>`,

                            }
                            )

                        } else {
                            // Si la respuesta no es exitosa, muestra un mensaje de error.
                            Swal.fire(
                                '!Error!',
                                response.message,
                                'error'
                            )
                        }
                    });
                }
            })

        }
    </script>

}
