@model IEnumerable<Producto>
@{
    ViewData["Title"] = "Home Page";
}
<section class="container">
    <ul class=" list-unstyled d-flex gap-3 ">


        @foreach (var item in Model)
        {
            <li class="hover-efect">
                <a asp-action="Product" class="text-decoration-none" asp-route-id="@item.Id">
                    <div class="card" style="width: 18rem;">
                        <img height="220" src="@item.Imagenes[0]?.Url" class="block object-fit-cover card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-tittle">
                                <h5 class="">@item.Nombre</h5>
                                <span class="badge bg-secondary">@item.Categoria.Nombre</span>

                            </div>
                            <span>Stock: @item.Stock</span>

                        </div>
                        <div class="card-footer"> <a asp-area="Client" asp-controller="Carrito" asp-action="Add" asp-route-id="@item.Id" class="btn btn-primary mt-3">Añadir al  carrito</a></div>
                    </div>
                </a>
            </li>


        }
    </ul>
</section>




@section Scripts{
    <script>
        function OpenModal(item) {

        }
    </script>
}
